/* - FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

/***********************************************/
/* NAVIGATION */
/***********************************************/

.landNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d98de;
  padding: 1rem 2rem;
}
.navIcon {
  stroke: #fff;
  height: 4rem;
  width: 4rem;
}
.navBtn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #ff5a60;
  text-transform: uppercase;
  box-shadow: none;
}
.navBtn a {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

/***********************************************/
/* LANDING */
/***********************************************/

.land {
  height: 100vh;
  background-image: url(../images/summer-movies-2021-new-e1620919489437.jpeg);
  background-size: cover;
}
.landCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(13, 152, 222, 0.9);
  color: #fff;
  height: 25rem;
  width: 40rem;
  border-radius: 8px;
  padding: 2rem 4rem;
  margin: 15rem auto;
}
.landCard h2 {
  font-size: 3.2rem;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1.5rem;
}
.landCard p {
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
}
.register-button {
  text-transform: uppercase;
}

/***********************************************/
/* HOME */
/***********************************************/

.home {
  background-image: url(../images/homePic.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.home2 {
  background-image: url(../images/homePic.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.moviesCont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 2rem;
  max-width: 110rem;
  margin: 0 auto;
  padding-bottom: 3.2rem;
}

.title3 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  margin-bottom: 3.2rem;
}

.title {
  color: #fff;
  text-shadow: 0.1rem 0.1rem black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4.5rem;
  font-weight: bolder;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 3%;
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 2px solid #0d98de;
  border-radius: 5px;
  padding-bottom: 3.2rem;
  margin: 0 auto;
  width: 30rem;
  height: 26rem;
}
.movie-card h3 {
  text-align: center;
  padding-top: 1.2rem;
  font-weight: bold;
}
.movieImage {
  height: 15rem;
  width: 12rem;
  margin: 1rem 0;
}
.hmbtn {
  color: #fff;
  margin: 0.2rem;
}

.edit-delete {
  text-align: center;
  margin: 0.5rem 0;
  padding-bottom: 2rem;
}

.noMovies {
  font-size: 4rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px #0d98de;
  height: 75vh;
}

/***********************************************/
/* ADD MOVIE */
/***********************************************/

.addMovie {
  background-image: url(../images/homePic.webp);
  height: 100vh;
}
.addCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-color: black;
  height: 200px;
}
.formMovie {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
.formMovie Button {
  margin-top: 5%;
}

/***********************************************/
/* EDIT */
/***********************************************/

.editPage {
  background-image: url(../images/homePic.webp);
  height: 100vh;
}
.editTitle {
  color: #fff;
  font-size: 3.2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.editCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  padding: 10rem;
  margin: 15rem auto;
  height: 28rem;
  width: 40rem;
}
.editCard button {
  margin-top: 1.2rem;
  margin-bottom: 3rem;
}
.editForm {
  width: 25rem;
  padding: 1rem;
  padding-bottom: 1rem;
}
.editForm input {
  margin: 1rem 0;
}
