/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}
/* Navigation */

.landNav {
  display: flex;
  justify-content: space-between;
  background-color: yellow;
}
.landNav h2 {
  margin-left: 2%;
  color: blue;
  font-weight: bolder;
  text-transform: uppercase;
}
.landNav p {
  margin: 1% 1%;
}
.landBtn {
  margin-right: 2%;
  text-transform: uppercase;
}

/* Landing Page */

.land {
  height: 100vh;
  background-image: url(../images/summer-movies-2021-new-e1620919489437.jpeg);
  background-size: cover;
}
.landCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  color: black;
  height: 30%;
  width: 35%;
  border-radius: 8px;
  padding: 2%;
  margin: 10% auto;
}
.landCard h2 {
  color: blue;
  margin-top: 3%;
  font-weight: bolder;
  text-transform: uppercase;
}
.landCard p {
  padding: 1%;
  font-weight: bold;
}
.register-button {
  text-transform: uppercase;
}
/* Home Page */

.home {
  background-image: url(../images/homePic.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.movieContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.title {
  color: yellow;
  text-shadow: 0.1rem 0.1rem black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 3%;
}

.movie-card {
  background-color: white;
  border: 2px solid yellow;
  border-radius: 5px;
  margin: 1% auto;
  padding: 1%;
  width: 300px;
  height: 500px;
}
.movie-card h3 {
  text-align: center;
}
.hmbtn {
  margin-left: 30%;
}
.hmbtn2 {
  margin-left: 5%;
}
.edit-delete {
  display: flex;
  margin-right: 10%;
  /* background-color: red; */
}

/* AddMovie Page */

.addMovie {
  background-image: url(../images/homePic.webp);
  height: 100vh;
}
.addCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-color: black;
  height: 200px;
}
.title1 {
  color: white;
  text-shadow: 0.1rem 0.1rem black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 38px;
  font-weight: bolder;
}
.formMovie {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
.formMovie Button {
  margin-top: 5%;
}
/* Edit Page */

.editPage {
  background-image: url(../images/homePic.webp);
  height: 100vh;
}
.editForm {
  width: 25%;
  margin: 100px auto;
}
