* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General styling */

html {
  font-size: 62.5%;
}
.bar {
  display: flex;
  justify-content: space-between;
  background-color: yellow;
}
.bar h2 {
  margin: 1% 1%;
  color: blue;
  font-weight: bolder;
}
Label {
  color: white;
}
