/* - FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

/***********************************************/
/* REGISTER */
/***********************************************/

.register {
  background-image: url(../images/homePic.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.register h1 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.regCard {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  border-radius: 8px;
  padding: 3%;
  width: 40rem;
  margin: 15rem auto;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

.form button {
  margin-top: 2rem;
}

.navBtn {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

section {
  font-size: 1.2rem;
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  margin: 15rem auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.9);
}

section h1 {
  padding-top: 1rem;
}

a,
a:visited {
  color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-size: 2.2rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.instructions {
  font-size: 1rem;
  border-radius: 0.5rem;
  background: #c82e33;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  color: #fff;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.line span a {
  color: #fff;
  text-decoration: none;
}

.line span a:hover {
  color: #228be6;
}

/***********************************************/
/* LOGIN */
/***********************************************/

.loginCont {
  background-image: url(../images/bmovie.jpeg);
  text-align: center;
  height: 100vh;
}
.form {
  width: 30rem;
  margin: 0 auto;
  text-align: left;
}
.loginCard {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  border-radius: 8px;
  padding: 3%;
  width: 40rem;
  margin: 15rem auto;
}
.loginCard h2 {
  font-size: 3.2rem;
}
.logLabel {
  font-size: 1.5rem;
  padding: 0.75rem 0;
}
.create {
  display: inline-block;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  text-decoration: none;
  color: #fff;
}
.create:hover {
  color: #228be6;
}
.persistCheck {
  margin-top: 1.5rem;
  display: flex;
  gap: 0.7rem;
  font-size: 1.5rem;
}

[type="checkbox"] {
  height: 20px;
  width: 20px;
}
